@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
  font-family: Nunito;
  src: url('./Assets//fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
}

.font-nunito{
  font-family: Nunito;
}

.active {
  background-color: #028BC1;
  color:white;
}

.title {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
}


.add {
  background: linear-gradient(rgba(0, 103, 144, 0.75), rgba(0, 103, 144, 0.75) ), url('./Assets/images/add.png');
}

.form  {
  background: linear-gradient(rgba(0, 103, 144, 0.75), rgba(0, 103, 144, 0.75) ), url('./Assets/images/form.png');
  background-repeat: no-repeat;
  background-size: cover;
}